[alias]
	st = status
	co = checkout
[user]
	name = Alan Briolat
	email = alan.briolat@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[gui]
	fontui = -family \"DejaVu Sans\" -size 8 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family Tamsyn -size 8 -weight normal -slant roman -underline 0 -overstrike 0
[core]
	excludesfile = /home/alan/.gitignore
