[alias]
	st = status
	co = checkout
	tracked-but-ignored = ls-files -i --exclude-standard
	tree = log --graph --pretty=format:'%C(auto)%h%d %s%Creset %Cblue(%cd)%Creset %Cgreen<%an>%Creset' --date=relative
[user]
	name = Alan Briolat
	email = alan.briolat@gmail.com
[color]
	ui = true
[gui]
	fontui = -family \"DejaVu Sans\" -size 8 -weight bold -slant roman -underline 0 -overstrike 0
	fontdiff = -family Termsyn -size 8 -weight normal -slant roman -underline 0 -overstrike 0
	editor = gvim
[core]
	excludesfile = /home/alan/.gitignore
[tig "bind"]
    # Rebind up/down arrows to be up/down, not prev/next
    generic = Up none
    generic = Down none
    generic = Up move-up
    generic = Down move-down
[push]
	default = simple
