snippet mod module ... contains ... end module
	module ${1:}

		${2}

	contains



	end module $1

snippet sub subroutine ... end subroutine
	subroutine ${1:}(${2})
		${3}
	end subroutine $1

snippet fun function ... end function
	function ${1:}(${2}) result(${3})
		${4}
	end function $1
